<body>

<hr color="Black">    

<audio autoplay>
    <source src="https://www.cjoint.com/doc/23_09/MIBf2S3WlKl_X2Download.app---Possibilities-320-kbps-.mp3" loop>
    Tu navegador no soporta la reproducción de audio
</audio>
<button export class="button1" onclick="document.querySelector('audio').play()"> Play </button>
<button export class="button2" onclick="document.querySelector('audio').pause()"> Pause </button>
<h1> 
Angular: El Inicio 
</h1>

<h2> 
22/09/23 
</h2>

<h3>
Esta aplicacion se llama {{title}} 
</h3>

<h4> 
{{Nombre}} {{Apellidos}}  
</h4>

<hr color="Black">

</body>

<app-uno-component> 

</app-uno-component> 

<app-dos-component> 
    
</app-dos-component>

<app-tres-component>
    
</app-tres-component>

<app-cuatro-component>
    
</app-cuatro-component>

<app-cinco-component>
    
</app-cinco-component>