<i class="fas fa-cloud"></i>
<i class="fas fa-coffee"></i>
<i class="fas fa-car"></i>
<i class="fas fa-file"></i>
<i class="fas fa-bars"></i>

<body>
<h1 class="display-4 text-center"> Listado De Tareas </h1>

<hr>

<div class="col-lg-8 offset-lg-2">
    <div class="card mt-4"></div>
        <div class="card_body">
            <div class="input-group">
                <input type="text" placeholder="Agregar Tareas" class="form-control form-control-lg">
                <div class="input-group-append">
                    <button type="button" class="btn btn-succes btn-lg" (click)="agregartarea()"> Agregar </button>
                </div>
            </div>
        </div>
</div>
</body>