<body>
<form>
    <fieldset>
        <legend>"Selecciona a tu personaje"</legend>
        <label>
            <input type="radio" name="color" value="azul" onclick="alert('Tu personaje es alguien con empatia ya que es alguien muy amable y comprensivo hacia los demas')"> Nick Nelson
        </label>
        
        <label>
            <input type="radio" name="color" value="azul" onclick="alert('Tu personaje es alguien muy sencible ya que valoras las cualidades de la sencibilidad y la expresion emocional en tus relaciones')" > Charlie Spring
        </label>
        <label>
            <input type="radio" name="color" value="azul" onclick="alert('Tu personaje es una amiga ideal ya que valoras las amistades cercanas y la lealtad en sus relaciones personales')" > Darcy Olsson
        </label>
        <label>
            <input type="radio" name="color" value="azul" onclick="alert('Tu personaje es una amistad solidaria ya que valora las amistades cercanas y el apoyo mutuo en tus relaciones personales')" > Tara Jones
        </label>
        <label>
            <input type="radio" name="color" value="azul" onclick="alert('Tu personaje contiene una personalidad amigable en el que podrias reflejar tus propias cualidades amigables y tu capacidad para relacionarte con los demas')" > Isaac Henderson
        </label>
        <label>
            <input type="radio" name="color" value="azul" onclick="alert('Tu personaje se considera una identificacion con personajes realistas debido a que valoras las historias que reflejan experiencias de vida mas realistas')" > Tori Spring
        </label>
        <label>
            <input type="radio" name="color" value="azul" onclick="alert('Tu personaje es de cuidado y proteccion ya que valoras las relaciones familiares cercanas y el papel de cuidado y proteccion en ellas')" > Sarah Nelson
        </label>
    </fieldset>
</form>
</body>