<body>
    <div class="formulario">

        <audio autoplay>
            <source src="https://www.cjoint.com/doc/23_11/MKvah0HSRVl_X2Download.app---Halo-2-Main-Menu-Music-Full-1080-60p-320-kbps-.mp3" loop>
        </audio>

        <button export class="button1" onclick="document.querySelector('audio').play()"> Play </button>
        <button export class="button2" onclick="document.querySelector('audio').pause()"> Pause </button>

        <h1> Proyecto Final </h1>

        <h3> {{Nombre}} {{Apellidos}} </h3>

    </div>

</body>

<app-parte-uno>
    
</app-parte-uno>