<!DOCTYPE html>
<html>

<div class="desarrollo">
    <head>
        <script src="/src/app/script.js"> </script>
    </head>

<div class="juego">
<h2>
    Que comience el juego
</h2>

    <br>

</div>

<div class="container">
    <section id="p0">
        <h3> 1. ¿Qué es la ciberseguridad? </h3>
        <label>
            <input type="radio" value="1" name="p0" onclick="respuesta(0,this)"> La ciberseguridad es el conjunto de prácticas, herramientas y medidas diseñadas 
            para proteger sistemas, redes y datos de ataques cibernéticos.
        </label>
        <label>
            <input type="radio" value="0" name="p0" onclick="respuesta(0,this)"> La ciberseguridad se refiere al uso de software obsoleto para proteger sistemas 
            contra ataques.
        </label>
        <label>
            <input type="radio" value="0" name="p0" onclick="respuesta(0,this)"> La ciberseguridad es un término que describe el intercambio seguro de 
            contraseñas entre usuarios en línea.
        </label>
        <label>
            <input type="radio" value="0" name="p0" onclick="respuesta(0,this)"> La ciberseguridad se basa en el uso de amuletos digitales para proteger los 
            datos de interferencias externas.
        </label>
    </section>

    <br>

    <section id="p1">
        <h3> 2. ¿Por qué es importante tomar decisiones seguras en ciberseguridad? </h3>
        <label>
            <input type="radio" value="0" name="p1" onclick="respuesta(1,this)"> Tomar decisiones seguras en ciberseguridad es irrelevante ya que los sistemas 
            modernos son inherentemente invulnerables.
        </label>
        <label>
            <input type="radio" value="0" name="p1" onclick="respuesta(1,this)"> La importancia radica en tomar decisiones inseguras para desafiar a los hackers 
            y mejorar la resistencia de los sistemas.
        </label>
        <label>
            <input type="radio" value="0" name="p1" onclick="respuesta(1,this)"> Es importante tomar decisiones seguras en ciberseguridad para dar una 
            apariencia de protección sin que realmente sea necesaria.
        </label>
        <label>
            <input type="radio" value="1" name="p1" onclick="respuesta(1,this)"> Las decisiones seguras en ciberseguridad son fundamentales para prevenir 
            brechas de seguridad, proteger la integridad de los datos y evitar posibles pérdidas financieras o daños a la reputación.
        </label>
    </section>

    <br>

    <section id="p2">
        <h3> 3. ¿Cuáles son algunos métodos para proteger datos sensibles? </h3>
        <label>
            <input type="radio" value="0" name="p2" onclick="respuesta(2,this)"> Los datos sensibles pueden ser protegidos con programas de seguridad "todo en 
            uno" que son gratuitos y de dudosa procedencia.
        </label>
        <label>
            <input type="radio" value="1" name="p2" onclick="respuesta(2,this)"> Encriptar los datos, implementar autenticación de dos factores, mantener 
            actualizados los sistemas con parches de seguridad y realizar copias de seguridad regulares son métodos efectivos para proteger datos sensibles.
        </label>
        <label>
            <input type="radio" value="0" name="p2" onclick="respuesta(2,this)"> Una forma efectiva de proteger datos sensibles es compartiéndolos públicamente 
            para que estén al alcance de todos.
        </label>
        <label>
            <input type="radio" value="0" name="p2" onclick="respuesta(2,this)"> Los datos sensibles se protegen mejor almacenándolos en servidores abiertos y 
            sin contraseña.
        </label>
    </section>

    <br>

    <section id="p3">
        <h3> 4. ¿Cómo se puede garantizar una toma de decisiones seguras en ciberseguridad dentro de una empresa? </h3>
        <label>
            <input type="radio" value="1" name="p3" onclick="respuesta(3,this)"> Capacitar al personal en buenas prácticas de seguridad, establecer políticas 
            claras de uso de sistemas y datos, y realizar auditorías regulares para identificar vulnerabilidades son estrategias clave.
        </label>
        <label>
            <input type="radio" value="0" name="p3" onclick="respuesta(3,this)"> La toma de decisiones seguras en ciberseguridad se garantiza asignando roles 
            de seguridad a personas sin experiencia en la materia.
        </label>
        <label>
            <input type="radio" value="0" name="p3" onclick="respuesta(3,this)"> La garantía de decisiones seguras se logra evitando cualquier tipo de 
            entrenamiento o concienciación sobre ciberseguridad entre los empleados.
        </label>
        <label>
            <input type="radio" value="0" name="p3" onclick="respuesta(3,this)"> La garantía se logra ignorando por completo las actualizaciones de seguridad 
            y confiando plenamente en el software obsoleto.
        </label>
    </section>

    <br>

    <section id="p4">
        <h3> 5. ¿Qué riesgos puede implicar la falta de decisiones seguras en ciberseguridad? </h3>
        <label>
            <input type="radio" value="0" name="p4" onclick="respuesta(4,this)"> No tomar decisiones seguras en ciberseguridad no implica riesgos ya que los 
            sistemas modernos son infalibles.
        </label>
        <label>
            <input type="radio" value="0" name="p4" onclick="respuesta(4,this)">  La falta de decisiones seguras en ciberseguridad puede llevar a una mayor 
            eficiencia y productividad sin ningún riesgo.
        </label>
        <label>
            <input type="radio" value="1" name="p4" onclick="respuesta(4,this)"> La falta de decisiones seguras en ciberseguridad puede llevar a brechas de 
            datos, robo de información confidencial, interrupción de servicios y daños a la reputación de la empresa u organización.
        </label>
        <label>
            <input type="radio" value="0" name="p4" onclick="respuesta(4,this)"> La falta de decisiones seguras en ciberseguridad puede llevar a mejoras en la 
            velocidad y rendimiento de los sistemas.
        </label>
    </section>

    <br>

    <section id="p5">
        <h3> 6. ¿Qué papel juega la concienciación del usuario en la seguridad cibernética? </h3>
        <label>
            <input type="radio" value="0" name="p5" onclick="respuesta(5,this)"> La concienciación del usuario en seguridad cibernética es irrelevante ya que 
            los sistemas modernos son invulnerables a cualquier tipo de amenaza.
        </label>
        <label>
            <input type="radio" value="0" name="p5"onclick="respuesta(5,this)"> La concienciación del usuario es contraproducente, ya que al estar alerta a 
            posibles amenazas, los usuarios pueden generar más errores.
        </label>
        <label>
            <input type="radio" value="0" name="p5" onclick="respuesta(5,this)">  La concienciación del usuario en seguridad cibernética es responsabilidad 
            exclusiva de los expertos en tecnología y no requiere la participación activa de los usuarios finales.
        </label>
        <label>
            <input type="radio" value="1" name="p5" onclick="respuesta(5,this)"> La concienciación del usuario es crucial. Los usuarios bien informados pueden 
            reconocer amenazas potenciales, evitar caer en trampas de phishing y tomar medidas para proteger sus datos y sistemas.
        </label>
    </section>

    <br>

    <section id="p6">
        <h3> 7. ¿Cuál es la importancia de la gestión proactiva de riesgos en ciberseguridad? </h3>
        <label>
            <input type="radio" value="1" name="p6" onclick="respuesta(6,this)"> La gestión proactiva de riesgos en ciberseguridad permite identificar y abordar 
            posibles vulnerabilidades antes de que se conviertan en brechas, reduciendo así la exposición a amenazas.
        </label>
        <label>
            <input type="radio" value="0" name="p6" onclick="respuesta(6,this)"> No hay necesidad de una gestión proactiva de riesgos, ya que las amenazas 
            cibernéticas son predecibles y pueden ser controladas de forma reactiva.
        </label>
        <label>
            <input type="radio" value="0" name="p6" onclick="respuesta(6,this)"> La gestión proactiva de riesgos es exclusivamente para empresas grandes; 
            las pequeñas y medianas empresas no tienen que preocuparse por este enfoque.
        </label>
        <label>
            <input type="radio" value="0" name="p6" onclick="respuesta(6,this)"> La gestión proactiva de riesgos puede generar más problemas al identificar 
            falsas amenazas, generando paranoia innecesaria.
        </label>
    </section>

    <br>

    <section id="p7">
        <h3> 8. ¿Qué papel desempeña la actualización de software en la seguridad cibernética? </h3>
        <label>
            <input type="radio" value="0" name="p7" onclick="respuesta(7,this)">  La actualización de software puede introducir más vulnerabilidades en los 
            sistemas, por lo que es mejor no actualizarlos.
        </label>
        <label>
            <input type="radio" value="0" name="p7" onclick="respuesta(7,this)"> La actualización de software es solo un truco de las empresas para forzar a 
            los usuarios a comprar versiones más recientes sin mejoras significativas en seguridad.
        </label>
        <label>
            <input type="radio" value="1" name="p7" onclick="respuesta(7,this)"> Mantener actualizado el software es crucial, ya que las actualizaciones a 
            menudo incluyen parches de seguridad que corrigen vulnerabilidades conocidas, fortaleciendo la protección de los sistemas.
        </label>
        <label>
            <input type="radio" value="0" name="p7" onclick="respuesta(7,this)"> La actualización de software no es necesaria, ya que las versiones más 
            antiguas son más estables y seguras que las actualizadas.
        </label>
    </section>

    <br>

    <button id="corregir"> Corregir </button>

    <br>
    <br>

    <h2> Cantidad Acertada: <span id="respuesta"></span> </h2>
    
</div>
</div>

<div class="conclusion">

    <h3>
        La ciberseguridad se trata de proteger información y sistemas de amenazas digitales. Involucra áreas como redes, aplicaciones y nubes, usando 
        herramientas como criptografía, firewalls y antivirus. Prácticas como educación, gestión de parches y respuesta a incidentes son clave. Se adapta a 
        tecnologías emergentes como inteligencia artificial y enfrenta desafíos con la llegada de la computación cuántica. Es un campo en constante evolución 
        que requiere medidas preventivas y adaptación continua.
    </h3>
</div>

</html>
