<body>

<hr color="Black">

  <audio autoplay>
    <source src="https://www.cjoint.com/doc/23_09/MICu4pPlFho_X2Download.app---V%C3%98J-x-Narvent-Memory-Reboot-Slowed-320-kbps-.mp3"loop>
  </audio>
  <button export class="button1" onclick="document.querySelector('audio').play()"> Play </button> 
  <button export class="button2" onclick="document.querySelector('audio').pause()"> Pause </button>
<h1>
  {{title}}
</h1>

<h2>
  Examen Practico
</h2>

<h3>
  {{nombre}} {{apellidos}}
</h3>

<h4>
  28/09/23
</h4>

<hr color="Black">

</body>

<app-primera-component>

</app-primera-component>

<app-segunda-component>
  
</app-segunda-component>